*{
    margin:0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color:#fff;
    height:5rem;
    line-height: 5rem;
}
.choice{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
cursor: pointer;
background-color: rgb(119, 13, 90);
}
img{
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.choices{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap:1.5rem;
}
.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap:3rem;
    margin-top: 5rem;
}
#user-score, 
#computer-score{
          font-size: 5rem;
}
.msg-container{
    margin-top: 2rem;
}
#msg{
    font-size: 2rem;
    background-color: black;
    color: #fff;
    display: inline;
    padding: 0.7rem;
    border-radius: 1.5rem;
}